@font-face {
    font-family: 'MyFont';
    src: url('./Poppins-ExtraBold.ttf') format('ttf'),
      url('./Poppins-ExtraBoldItalic.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
  }
  

.hello {
    color: red;
    font-family: 'MyFont';
    background: url('./icon.png');
  }